# Merge international results with new data

In [59]:
import pandasql as ps
from datetime import datetime
from pandasql import sqldf
import numpy as np
import pandas as pd

## 1 - Merge results and rankings

In [83]:
fifa_rankings = pd.read_csv('data/team/fifa_rankings.csv')
fifa_rankings.head()

fifa_rankings['team'] = np.where(fifa_rankings['team'] == 'IR Iran', 'Iran', fifa_rankings['team'])

fifa_rankings[fifa_rankings['team'] == 'USA']

       rank_id   from_date     to_date team team_abbr  rank  points
13      id9276  2010-05-26  2010-08-10  USA       USA    14     957
225     id9353  2010-08-11  2010-11-16  USA       USA    18     931
439     id9451  2010-11-17  2011-01-11  USA       USA    24     847
641     id9507  2011-01-12  2011-05-17  USA       USA    18     867
853     id9633  2011-05-18  2011-08-23  USA       USA    22     855
1067    id9731  2011-08-24  2011-09-20  USA       USA    28     791
1278    id9759  2011-09-21  2011-10-18  USA       USA    31     741
1489    id9787  2011-10-19  2011-11-22  USA       USA    34     720
1697    id9822  2011-11-23  2011-12-20  USA       USA    34     721
1905    id9850  2011-12-21  2012-01-17  USA       USA    34     721
2112    id9878  2012-01-18  2012-02-14  USA       USA    33     721
2318    id9906  2012-02-15  2012-03-06  USA       USA    31     750
2522    id9927  2012-03-07  2012-04-10  USA       USA    27     772
2732    id9962  2012-04-11  2012-05-08  USA       USA    29     779
2940    id9990  2012-05-09  2012-06-05  USA       USA    29     779
3147   id10018  2012-06-06  2012-07-03  USA       USA    28     767
3363   id10046  2012-07-04  2012-08-07  USA       USA    36     687
3571   id10081  2012-08-08  2012-09-04  USA       USA    36     672
3777   id10109  2012-09-05  2012-10-02  USA       USA    33     697
3985   id10137  2012-10-03  2012-11-06  USA       USA    32     720
4189   id10172  2012-11-07  2012-12-18  USA       USA    27     776
4399   id10214  2012-12-19  2013-01-16  USA       USA    28     782
4608   id10243  2013-01-17  2013-02-13  USA       USA    28     782
4821   id10271  2013-02-14  2013-03-13  USA       USA    32     736
5031   id10299  2013-03-14  2013-04-10  USA       USA    33     733
5235   id10327  2013-04-11  2013-05-08  USA       USA    28     779
5445   id10355  2013-05-09  2013-06-05  USA       USA    29     779
5653   id10383  2013-06-06  2013-07-03  USA       USA    28     798
5856   id10411  2013-07-04  2013-08-07  USA       USA    22     865
6062   id10446  2013-08-08  2013-09-11  USA       USA    19     960
...        ...         ...         ...  ...       ...   ...     ...
11088  id11174  2015-08-06  2015-09-02  USA       USA    29     816
11296  id11202  2015-09-03  2015-09-30  USA       USA    28     823
11506  id11230  2015-10-01  2015-11-04  USA       USA    29     807
11720  id11265  2015-11-05  2015-12-02  USA       USA    33     759
11927  id11293  2015-12-03  2016-01-06  USA       USA    32     784
12136  id11328  2016-01-07  2016-02-03  USA       USA    32     784
12345  id11356  2016-02-04  2016-03-02  USA       USA    32     793
12552  id11384  2016-03-03  2016-04-06  USA       USA    30     792
12761  id11419  2016-04-07  2016-05-04  USA       USA    29     810
12969  id11447  2016-05-05  2016-06-01  USA       USA    29     810
13180  id11475  2016-06-02  2016-07-13  USA       USA    31     803
13383  id11517  2016-07-14  2016-08-10  USA       USA    25     855
13595  id11545  2016-08-11  2016-09-14  USA       USA    26     848
13800  id11580  2016-09-15  2016-10-19  USA       USA    22     874
14013  id11615  2016-10-20  2017-07-05  USA       USA    24     852
14235  id11874  2017-07-06  2017-08-09  USA       USA    35     752
14437  id11909  2017-08-10  2017-09-13  USA       USA    26     865
14650  id11944  2017-09-14  2017-10-15  USA       USA    28     828
14860  id11976  2017-10-16  2017-11-22  USA       USA    27     843
15068  id12014  2017-11-23  2017-12-20  USA       USA    24     867
15279  id12042  2017-12-21  2018-01-17  USA       USA    24     867
15491  id12070  2018-01-18  2018-02-14  USA       USA    25     867
15701  id12098  2018-02-15  2018-03-14  USA       USA    24     871
15913  id12126  2018-03-15  2018-04-11  USA       USA    25     876
16123  id12154  2018-04-12  2018-05-16  USA       USA    24     880
16334  id12189  2018-05-17  2018-06-06  USA       USA    24     880
16546  id12210  2018-06-07  2018-08-15  USA       USA    25     873
16755  id12280  2018-08-16  2018-09-19  USA       USA    22    1508
16965  id12315  2018-09-20  2018-10-24  USA       USA    22    1510
17177  id12350  2018-10-25         NaN  USA       USA    23    1506

[83 rows x 7 columns]

In [61]:
fifa_rankings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17365 entries, 0 to 17364
Data columns (total 7 columns):
rank_id      17365 non-null object
from_date    17365 non-null object
to_date      17155 non-null object
team         17365 non-null object
team_abbr    17365 non-null object
rank         17365 non-null int64
points       17365 non-null int64
dtypes: int64(2), object(5)
memory usage: 949.7+ KB

In [62]:
intl_results = pd.read_csv('data/team/new_intl_results.csv')
intl_results.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30 00:00:00,Scotland,England,0,0,Friendly,Glasgow,Scotland,False
1,1873-03-08 00:00:00,England,Scotland,4,2,Friendly,London,England,False
2,1874-03-07 00:00:00,Scotland,England,2,1,Friendly,Glasgow,Scotland,False
3,1875-03-06 00:00:00,England,Scotland,2,2,Friendly,London,England,False
4,1876-03-04 00:00:00,Scotland,England,3,0,Friendly,Glasgow,Scotland,False

In [63]:
intl_results.tail()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
39665,2018-07-07,Russia,Croatia,2,2,FIFA World Cup,Sochi,Russia,False
39666,2018-07-10,France,Belgium,1,0,FIFA World Cup,St. Petersburg,Russia,True
39667,2018-07-11,Croatia,England,2,1,FIFA World Cup,Moscow,Russia,True
39668,2018-07-14,Belgium,England,2,0,FIFA World Cup,St. Petersburg,Russia,True
39669,2018-07-15,France,Croatia,4,2,FIFA World Cup,Moscow,Russia,True

In [64]:
intl_results.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39670 entries, 0 to 39669
Data columns (total 9 columns):
date          39670 non-null object
home_team     39670 non-null object
away_team     39670 non-null object
home_score    39670 non-null int64
away_score    39670 non-null int64
tournament    39670 non-null object
city          39670 non-null object
country       39670 non-null object
neutral       39670 non-null bool
dtypes: bool(1), int64(2), object(6)
memory usage: 2.5+ MB

In [65]:
# convert date to date
intl_results['date'] = intl_results.date.astype('datetime64')

In [66]:
intl_results.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39670 entries, 0 to 39669
Data columns (total 9 columns):
date          39670 non-null datetime64[ns]
home_team     39670 non-null object
away_team     39670 non-null object
home_score    39670 non-null int64
away_score    39670 non-null int64
tournament    39670 non-null object
city          39670 non-null object
country       39670 non-null object
neutral       39670 non-null bool
dtypes: bool(1), datetime64[ns](1), int64(2), object(5)
memory usage: 2.5+ MB

In [67]:
# write SQL to join dataframes using "between statement"

pysqldf = lambda q: sqldf(q, globals())
sql = 'select res.*, rnk1.rank home_rank, rnk1.points home_rank_pts, rnk2.rank away_rank, rnk2.points away_rank_pts\
       from intl_results res \
       inner join fifa_rankings rnk1 \
           on res.home_team = rnk1.team \
           and res.date between rnk1.from_date and rnk1.to_date \
       inner join fifa_rankings rnk2 \
           on res.away_team = rnk2.team \
           and res.date between rnk2.from_date and rnk2.to_date  ; '

In [68]:
project_df = pysqldf(sql)

In [69]:
project_df.tail()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,home_rank,home_rank_pts,away_rank,away_rank_pts
6444,2018-07-07 00:00:00.000000,Russia,Croatia,2,2,FIFA World Cup,Sochi,Russia,0,70,457,20,945
6445,2018-07-10 00:00:00.000000,France,Belgium,1,0,FIFA World Cup,St. Petersburg,Russia,1,7,1198,3,1298
6446,2018-07-11 00:00:00.000000,Croatia,England,2,1,FIFA World Cup,Moscow,Russia,1,20,945,12,1051
6447,2018-07-14 00:00:00.000000,Belgium,England,2,0,FIFA World Cup,St. Petersburg,Russia,1,3,1298,12,1051
6448,2018-07-15 00:00:00.000000,France,Croatia,4,2,FIFA World Cup,Moscow,Russia,1,7,1198,20,945

In [70]:
project_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6449 entries, 0 to 6448
Data columns (total 13 columns):
date             6449 non-null object
home_team        6449 non-null object
away_team        6449 non-null object
home_score       6449 non-null int64
away_score       6449 non-null int64
tournament       6449 non-null object
city             6449 non-null object
country          6449 non-null object
neutral          6449 non-null int64
home_rank        6449 non-null int64
home_rank_pts    6449 non-null int64
away_rank        6449 non-null int64
away_rank_pts    6449 non-null int64
dtypes: int64(7), object(6)
memory usage: 655.1+ KB

## 2 - Add more columns

In [71]:
# add diff columns
project_df['rank_diff'] = project_df['home_rank'] - project_df['away_rank']
project_df['rank_pts_diff'] = project_df['home_rank_pts'] - project_df['away_rank_pts']

In [72]:
# add outcome columns
score_diff = project_df['home_score'] - project_df['away_score']

In [73]:
def get_match_outcome(score_diff):
    if score_diff > 0:
        outcome = 'W'
    elif score_diff < 0:
        outcome = 'L'
    else:
        outcome = 'D'
    return outcome

In [74]:
def get_match_outcome_num(score_diff):
    if score_diff > 0:
        outcome = 0
    elif score_diff < 0:
        outcome = 2
    else:
        outcome = 1
    return outcome

In [75]:
project_df['outcome'] = score_diff.apply(get_match_outcome)
project_df['outcome_num'] = score_diff.apply(get_match_outcome_num)

In [76]:
# add other fields for testing
project_df['home_game'] =  1 * (project_df['home_team'] == project_df['country'])
project_df['away_game'] = 1 * (project_df['away_team'] == project_df['country'])

In [77]:
project_df.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,home_rank,home_rank_pts,away_rank,away_rank_pts,rank_diff,rank_pts_diff,outcome,outcome_num,home_game,away_game
0,2010-05-26 00:00:00.000000,Azerbaijan,Moldova,1,1,Friendly,Seekirchen am Wallersee,Austria,1,109,259,89,378,20,-119,D,1,0,0
1,2010-05-26 00:00:00.000000,Chile,Zambia,3,0,Friendly,Calama,Chile,0,18,888,71,456,-53,432,W,0,1,0
2,2010-05-26 00:00:00.000000,Estonia,Croatia,0,0,Friendly,Tallinn,Estonia,0,99,320,10,1041,89,-721,D,1,1,0
3,2010-05-26 00:00:00.000000,France,Costa Rica,2,1,Friendly,Lens,France,0,9,1044,40,710,-31,334,W,0,1,0
4,2010-05-26 00:00:00.000000,Netherlands,Mexico,2,1,Friendly,Freiburg,Germany,1,4,1231,17,895,-13,336,W,0,0,0

In [78]:
project_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6449 entries, 0 to 6448
Data columns (total 19 columns):
date             6449 non-null object
home_team        6449 non-null object
away_team        6449 non-null object
home_score       6449 non-null int64
away_score       6449 non-null int64
tournament       6449 non-null object
city             6449 non-null object
country          6449 non-null object
neutral          6449 non-null int64
home_rank        6449 non-null int64
home_rank_pts    6449 non-null int64
away_rank        6449 non-null int64
away_rank_pts    6449 non-null int64
rank_diff        6449 non-null int64
rank_pts_diff    6449 non-null int64
outcome          6449 non-null object
outcome_num      6449 non-null int64
home_game        6449 non-null int64
away_game        6449 non-null int64
dtypes: int64(12), object(7)
memory usage: 957.4+ KB

In [79]:
project_df.set_index('date',inplace=True,drop=True)

In [80]:
project_df

,home_team,away_team,home_score,away_score,tournament,city,country,neutral,home_rank,home_rank_pts,away_rank,away_rank_pts,rank_diff,rank_pts_diff,outcome,outcome_num,home_game,away_game
date,,,,,,,,,,,,,,,,,,
2010-05-26 00:00:00.000000,Azerbaijan,Moldova,1,1,Friendly,Seekirchen am Wallersee,Austria,1,109,259,89,378,20,-119,D,1,0,0
2010-05-26 00:00:00.000000,Chile,Zambia,3,0,Friendly,Calama,Chile,0,18,888,71,456,-53,432,W,0,1,0
2010-05-26 00:00:00.000000,Estonia,Croatia,0,0,Friendly,Tallinn,Estonia,0,99,320,10,1041,89,-721,D,1,1,0
2010-05-26 00:00:00.000000,France,Costa Rica,2,1,Friendly,Lens,France,0,9,1044,40,710,-31,334,W,0,1,0
2010-05-26 00:00:00.000000,Netherlands,Mexico,2,1,Friendly,Freiburg,Germany,1,4,1231,17,895,-13,336,W,0,0,0
2010-05-26 00:00:00.000000,Northern Ireland,Turkey,0,2,Friendly,New Britain,USA,1,56,566,29,830,27,-264,L,2,0,0
2010-05-26 00:00:00.000000,Uruguay,Israel,4,1,Friendly,Montevideo,Uruguay,0,16,899,26,857,-10,42,W,0,1,0
2010-05-27 00:00:00.000000,Belarus,Honduras,2,2,Friendly,Villach,Austria,1,82,397,38,734,44,-337,D,1,0,0
2010-05-27 00:00:00.000000,Denmark,Senegal,2,0,Friendly,Aalborg,Denmark,0,36,767,75,422,-39,345,W,0,1,0
2010-05-27 00:00:00.000000,South Africa,Colombia,2,1,Friendly,Johannesburg,South Africa,0,83,392,35,776,48,-384,W,0,1,0
2010-05-29 00:00:00.000000,Hungary,Germany,0,3,Friendly,Budapest,Hungary,0,57,565,6,1082,51,-517,L,2,1,0
2010-05-29 00:00:00.000000,Iceland,Andorra,4,0,Friendly,Reykjavík,Iceland,0,90,367,201,2,-111,365,W,0,1,0
2010-05-29 00:00:00.000000,Moldova,United Arab Emirates,2,3,Friendly,Anif,Austria,1,89,378,101,310,-12,68,L,2,0,0
2010-05-29 00:00:00.000000,New Zealand,Serbia,1,0,Friendly,Klagenfurt,Austria,1,78,410,15,947,63,-537,W,0,0,0
2010-05-29 00:00:00.000000,Norway,Montenegro,2,1,Friendly,Oslo,Norway,0,22,882,64,500,-42,382,W,0,1,0
2010-05-29 00:00:00.000000,Poland,Finland,0,0,Friendly,Kielce,Poland,0,58,561,52,584,6,-23,D,1,1,0
2010-05-29 00:00:00.000000,Slovakia,Cameroon,1,1,Friendly,Klagenfurt,Austria,1,34,777,19,887,15,-110,D,1,0,0
2010-05-29 00:00:00.000000,Spain,Saudi Arabia,3,2,Friendly,Innsbruck,Austria,1,2,1565,66,498,-64,1067,W,0,0,0
2010-05-29 00:00:00.000000,Ukraine,Romania,3,2,Friendly,L'viv,Ukraine,0,23,875,28,853,-5,22,W,0,1,0
2010-05-29 00:00:00.000000,USA,Turkey,2,1,Friendly,Philadelphia,USA,0,14,957,29,830,-15,127,W,0,1,0
2010-05-29 00:00:00.000000,Venezuela,Canada,1,1,Friendly,Mérida,Venezuela,0,49,608,63,516,-14,92,D,1,1,0
2010-05-30 00:00:00.000000,Belarus,Korea Republic,1,0,Friendly,Kufstein,Austria,1,82,397,47,632,35,-235,W,0,0,0
2010-05-30 00:00:00.000000,Chile,Northern Ireland,1,0,Friendly,Chillán,Chile,0,18,888,56,566,-38,322,W,0,1,0
2010-05-30 00:00:00.000000,Chile,Israel,3,0,Friendly,Concepción,Chile,0,18,888,26,857,-8,31,W,0,1,0
2010-05-30 00:00:00.000000,Japan,England,1,2,Friendly,Graz,Austria,1,45,682,8,1068,37,-386,L,2,0,0
2010-05-30 00:00:00.000000,Mexico,Gambia,5,1,Friendly,Bayreuth,Germany,1,17,895,93,361,-76,534,W,0,0,0
2010-05-30 00:00:00.000000,Nigeria,Colombia,1,1,Friendly,Milton Keynes,England,1,21,883,35,776,-14,107,D,1,0,0
2010-05-30 00:00:00.000000,Tunisia,France,1,1,Friendly,Radès,Tunisia,0,55,574,9,1044,46,-470,D,1,1,0
2010-05-31 00:00:00.000000,South Africa,Guatemala,5,0,Friendly,Polokwane,South Africa,0,83,392,114,241,-31,151,W,0,1,0
2010-06-01 00:00:00.000000,Australia,Denmark,1,0,Friendly,Roodepoort,South Africa,1,20,886,36,767,-16,119,W,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-06-25 00:00:00.000000,Spain,Morocco,2,2,FIFA World Cup,Kaliningrad,Russia,1,10,1126,41,686,-31,440,D,1,0,0
2018-06-25 00:00:00.000000,Iran,Portugal,1,1,FIFA World Cup,Saransk,Russia,1,37,708,4,1274,33,-566,D,1,0,0
2018-06-26 00:00:00.000000,Australia,Peru,0,2,FIFA World Cup,Sochi,Russia,1,36,718,11,1125,25,-407,L,2,0,0
2018-06-26 00:00:00.000000,Denmark,France,0,0,FIFA World Cup,Moscow,Russia,1,12,1051,7,1198,5,-147,D,1,0,0
2018-06-26 00:00:00.000000,Nigeria,Argentina,1,2,FIFA World Cup,St. Petersburg,Russia,1,48,618,5,1241,43,-623,L,2,0,0
2018-06-26 00:00:00.000000,Iceland,Croatia,1,2,FIFA World Cup,Rostov-On-Don,Russia,1,22,908,20,945,2,-37,L,2,0,0
2018-06-27 00:00:00.000000,Korea Republic,Germany,2,0,FIFA World Cup,Kazan,Russia,1,57,544,1,1558,56,-1014,W,0,0,0
2018-06-27 00:00:00.000000,Mexico,Sweden,0,3,FIFA World Cup,Ekaterinburg,Russia,1,15,989,24,880,-9,109,L,2,0,0
2018-06-27 00:00:00.000000,Serbia,Brazil,0,2,FIFA World Cup,Moscow,Russia,1,34,751,2,1431,32,-680,L,2,0,0
2018-06-27 00:00:00.000000,Switzerland,Costa Rica,2,2,FIFA World Cup,Nizhny Novgorod,Russia,1,6,1199,23,884,-17,315,D,1,0,0
2018-06-28 00:00:00.000000,Japan,Poland,0,1,FIFA World Cup,Volgograd,Russia,1,61,521,8,1183,53,-662,L,2,0,0
2018-06-28 00:00:00.000000,Senegal,Colombia,0,1,FIFA World Cup,Samara,Russia,1,27,838,16,986,11,-148,L,2,0,0
2018-06-28 00:00:00.000000,Panama,Tunisia,1,2,FIFA World Cup,Saransk,Russia,1,55,571,21,910,34,-339,L,2,0,0
2018-06-28 00:00:00.000000,England,Belgium,0,1,FIFA World Cup,Kaliningrad,Russia,1,12,1051,3,1298,9,-247,L,2,0,0
2018-06-30 00:00:00.000000,France,Argentina,4,3,FIFA World Cup,Kazan,Russia,1,7,1198,5,1241,2,-43,W,0,0,0
2018-06-30 00:00:00.000000,Uruguay,Portugal,2,1,FIFA World Cup,Sochi,Russia,1,14,1018,4,1274,10,-256,W,0,0,0
2018-07-01 00:00:00.000000,Spain,Russia,1,1,FIFA World Cup,Moscow,Russia,1,10,1126,70,457,-60,669,D,1,0,1
2018-07-01 00:00:00.000000,Croatia,Denmark,1,1,FIFA World Cup,Nizhny Novgorod,Russia,1,20,945,12,1051,8,-106,D,1,0,0
2018-07-02 00:00:00.000000,Brazil,Mexico,2,0,FIFA World Cup,Samara,Russia,1,2,1431,15,989,-13,442,W,0,0,0
2018-07-02 00:00:00.000000,Belgium,Japan,3,2,FIFA World Cup,Rostov-On-Don,Russia,1,3,1298,61,521,-58,777,W,0,0,0
2018-07-03 00:00:00.000000,Sweden,Switzerland,1,0,FIFA World Cup,St. Petersburg,Russia,1,24,880,6,1199,18,-319,W,0,0,0
2018-07-03 00:00:00.000000,Colombia,England,1,1,FIFA World Cup,Moscow,Russia,1,16,986,12,1051,4,-65,D,1,0,0
2018-07-06 00:00:00.000000,Uruguay,France,0,2,FIFA World Cup,Nizhny Novgorod,Russia,1,14,1018,7,1198,7,-180,L,2,0,0
2018-07-06 00:00:00.000000,Brazil,Belgium,1,2,FIFA World Cup,Kazan,Russia,1,2,1431,3,1298,-1,133,L,2,0,0
2018-07-07 00:00:00.000000,Sweden,England,0,2,FIFA World Cup,Samara,Russia,1,24,880,12,1051,12,-171,L,2,0,0
2018-07-07 00:00:00.000000,Russia,Croatia,2,2,FIFA World Cup,Sochi,Russia,0,70,457,20,945,50,-488,D,1,1,0
2018-07-10 00:00:00.000000,France,Belgium,1,0,FIFA World Cup,St. Petersburg,Russia,1,7,1198,3,1298,4,-100,W,0,0,0
2018-07-11 00:00:00.000000,Croatia,England,2,1,FIFA World Cup,Moscow,Russia,1,20,945,12,1051,8,-106,W,0,0,0
2018-07-14 00:00:00.000000,Belgium,England,2,0,FIFA World Cup,St. Petersburg,Russia,1,3,1298,12,1051,-9,247,W,0,0,0
2018-07-15 00:00:00.000000,France,Croatia,4,2,FIFA World Cup,Moscow,Russia,1,7,1198,20,945,-13,253,W,0,0,0

In [81]:
project_df.to_csv('data/team/project_data.csv')

In [82]:
cnt = pd.DataFrame(project_df.groupby(['date','away_team']).size())
cnt = cnt.reset_index()
cnt.head()

cnt = cnt.rename(columns = {0:'count'})

cnt[cnt['count'] > 1]

                           date  away_team  count
242  2010-09-07 00:00:00.000000  Guatemala      2
874  2011-06-22 00:00:00.000000     Mexico      2
877  2011-06-25 00:00:00.000000     Mexico      2